body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.icons1 {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.icons1-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 6vw;
}

.icons1-2 {
    display: flex;
    width: 54px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.logo {
    width: 13vw;
}

.icons2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    width: 45vw;
}

.search {
    width: 11vw;
}

.profile {
    width: 6vw;
}

.bag {
    width: 5vw;
}


.iconartwork {
    width: 11vw;
}

.girl1 {
    width: 100%;
}

.main2 {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-left: 4vw;
    margin-bottom: 2vh;
    overflow-x: auto;
}

.best-sellers {
    color: var(--Mobile-background, #000);

    text-align: center;
    font-family: "Archivo Narrow";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.girls {
    height: 100vw;
    ;
}

.summermantra-page {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 5vw;
}

.arrow {
    width: 3vw;
}

.summermantra-stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summermantra-stock h1 {
    color: var(--Mobile-background, #000);

    font-family: "Archivo Narrow";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.summermantra-paragraph {
    color: var(--Mobile-background, #000);
    font-family: "Archivo Narrow";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sizes {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.sizes1 {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Mobile-background, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.color1 {
    background-color: #976168;
    border: none;
}
.color2 {
    background-color: #7E795C;
    border: none;
}