body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.icons1 {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.icons1-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 6vw;
}

.icons1-2 {
    display: flex;
    width: 54px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.logo {
    width: 13vw;
}

.icons2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    width: 45vw;
}

.search {
    width: 11vw;
}

.profile {
    width: 6vw;
}

.bag {
    width: 5vw;
}


.iconartwork {
    width: 11vw;
}

.girl1 {
    width: 100%;
}

.main2 {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-left: 4vw;
    margin-bottom: 2vh;
    overflow-x: auto;
}

.best-sellers {
    color: var(--Mobile-background, #000);

    text-align: center;
    font-family: "Archivo Narrow";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.girls {
    height: 100vw;
}

.summermantra-page {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 5vw;
}

.arrow {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 4vw;
    width: 3vw;
}

.summermantra-stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summermantra-stock h1 {
    color: var(--Mobile-background, #000);

    font-family: "Archivo Narrow";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.summermantra-paragraph {
    color: var(--Mobile-background, #000);
    font-family: "Archivo Narrow";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sizes {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.sizes1 {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Mobile-background, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.sizes1:hover {
    transition: 0.5s;
    background-color: #000;
    color: white;
}
.colors-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:1.5vh;
    margin-top: 2vh;
}

.color1 {
    background-color: #976168;
    border: none;
}
.color1:hover {
    background-color: #976168;
    transition: 0.5s;
    border: 5px solid black;
}
.color2 {
    background-color: #7E795C;
    border: none;
}
.color2:hover {
    background-color: #7E795C;
    transition: 0.5s;
    border: 5px solid black;
}

.colors-container button {
    background-color: white;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vw;
    gap: 6vw;
}

.colors-container button h1 {
color: var(--Mobile-background, #000);

font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.addbutton {
    background-color: white;
    border-radius: 3vw;
    color: var(--Mobile-background, #000);
    margin-bottom: 5vw;
}

.addbutton h2 {
    text-align: center;
font-family: "Archivo Narrow";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}


.rectangle {
    margin-left: 33vw;
    background-color: #000;
    width: 34vw;
    height: 1vh;
    margin-top: 4vh;
    margin-bottom: 1.5vh;
    border-radius: 5vw;
}


/*categoryDresses*/

.category-page-container{
    padding-top: 2.5%;
    padding-left: 4%;
}
.menuSelec {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 2vw;
}
.menu1 {
  padding: 2vw 4vw;
  border: 1px solid #dcdcdc;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Archivo Narrow";
  font-size: 16px;
  font-weight: 500;
}
.title1 {
  text-align: center;
  font-family: "Archivo Narrow";
  font-size: 24px;
  font-weight: 400;
}
.titles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-bottom: 1.5px solid black;
  margin-right: 4%;

  h2 {
    font-family: "Archivo Narrow";
    font-size: 20px;
    font-weight: 500;
  }
}
.card-dress-container{
    margin-top: 1.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 4%;
    gap: 2vw;


    h1.description {
    font-family: "Archivo Narrow";
font-size: 16px;
font-weight:normal;

}
  

}
.description-price{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0.5vw;

}
.photo{
    width: 44vw;

}

/**ADDTOBAGPAGE*/

.AddToBag-container{

    height: 80vh;
    padding-top: 2.5%;
    padding-left: 2.5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  

}

.message{
    font-family: Archivo Narrow;
font-size: 16px;
font-weight: 500;
line-height: 21.55px;
text-align: left;



}
.All-btnAddToBag-container{

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
    
}
.BtnAddtoBagB{
    width: 100%;
    height: 8vh;
    border-radius: 12px 12px 12px 12px;
    background-color: #000;
    color: white;
    font-family: Archivo Narrow;
    font-size: 16px;
    margin-bottom: 0.8vh;
   
    
}
.BtnAddtoBag{
    
    width: 100%;
    height: 8vh;
    border-radius: 12px 12px 12px 12px;
    font-family: Archivo Narrow;
    font-size: 16px;
    
    
    
    
}


